/* src/App.css */

.App-header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  color: #007bff; /* Color azul */
  margin-bottom: 30px;
  text-align: center; /* Centrar el texto */
}

/* Estilos generales para toda la aplicación */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}


/* //////////////////////////////////////////////////// */




